*.o
*.e

# data
*.json
*.jsonl

# bash files with API tokens (but not scripts/)
/*.sh

*.pyc
# logs and results
logs/
results/

# virtual environment
.venv/

# environment
.env

# uv
uv.lock

# cache
__pycache__/
.*/
*.md
